.edit_user_modal_button {
  margin-left: 10px;
}

#users_menu {
  text-align: center;
}

#inline_users_menu {
  display: inline-block;
}

#add_user_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#add_user_modal {
  border-radius: 10px;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

#add_user_buttons {
  margin: 10px;
}

.edit_buttons {
  margin: 10px;
}

.delete_user_buttons {
  margin: 10px;
}

.edit_user_name_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit_user_name_modal {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.edit_user_email_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit_user_email_modal {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.edit_user_role_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit_user_role_modal {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.delete_user_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.delete_user_modal {
  border-radius: 10px;
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

