<template>
    <section id="new" class="box">
        <h2>更新情報・お知らせ</h2>
        <p v-if="loading">Loading...</p>
        <p v-if="errored">情報を取得できませんでした。</p>
        <dl v-if="success" id="newinfo">   
            <div v-for="(notice,index) in noticies" :key="notice.id">
                <dt>{{ notice.created_date }}</dt>
                <dd>{{ notice.body }}<span v-if="index==0" class="newicon">NEW</span></dd>
            </div>                 
        </dl>
    </section>
</template>

<script>
export default {
    data() {
        return {
            errored: false,
            loading: true,
            success: false,
            noticies: null
        };
    },
    created() {
        axios
            .get('/api/general/noticies')
            .then(response => {
                this.noticies = response.data;
                this.success = true;
            })
            .catch(err => {
                this.errored = true;
            })
            .finally(() => {
                this.loading = false;
            });
    }
};
</script>