<template>
    <div v-if="openingModal" class="delete_notice_modal_content">
        <div class="overlay">
            <div class="delete_notice_modal">
                <div>
                    お知らせID{{ notice.id }}を削除しますか?
                </div>
                <div class="delete_notice_buttons">
                    <button v-on:click="submitData" type="submit">削除</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openingModal: false,
            notice: null,
        }
    },
    methods: {
        openModal(notice) {
            this.notice = notice;
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            const params = new FormData();
            params.append('delete_notice_id', this.notice.id);

            axios
                .post('/api/admin/delete_notice',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>