<template>
    <div v-if="openingModal" class="edit_notice_body_modal_content">
        <div class="overlay">
            <div class="edit_notice_body_modal">
                <table>
                    <tr>
                        <th>本文</th>
                        <td>
                            <textarea v-model="changeNoticeBody"></textarea>
                            <validate-notice-body-component ref="validator"></validate-notice-body-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_notice_body_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateNoticeBodyComponent from './ValidateComponent/ValidateNoticeBodyComponent.vue';
export default {
    data() {
        return {
            openingModal: false,
            notice: null,
            changeNoticeBody: null,
        }
    },
    components: {
        'validate-notice-body-component': validateNoticeBodyComponent,
    },
    methods: {
        openModal(notice) {
            this.notice = notice;
            this.changeNoticeBody = notice.body;
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeNoticeBody = this.$refs.validator.validateNoticeBody(this.changeNoticeBody);
            if (!judgeNoticeBody) {
                return;
            }

            const params = new FormData();
            params.append('change_notice_body', this.changeNoticeBody);
            params.append('notice_id', this.notice.id);

            axios
                .post('/api/admin/edit_notice_body',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>