<template>
    <section>
        <h2>お知らせ一覧メニュー</h2>
        <div id="noticies_menu">
            <div id="inline_noticies_menu">
                <button v-on:click="openModal">新規登録</button>
                <div v-if="openingModal" id="add_notice_modal_content">
                    <div class="overlay">
                        <div id="add_notice_modal">
                            <table>
                                <tr>
                                    <th>本文</th>
                                    <td>
                                        <textarea v-model="noticeBody"></textarea>
                                        <validate-notice-body-component ref="noticeBodyValidator"></validate-notice-body-component>
                                    </td>
                                </tr>
                            </table>
                            <div id="add_notice_buttons">
                                <button v-on:click="submitData" type="submit">登録</button>
                                <button v-on:click="closeModal">キャンセル</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import validateNoticeBodyComponent from './ValidateComponent/ValidateNoticeBodyComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            noticeBody: null,
        }
    },
    components: {
        'validate-notice-body-component': validateNoticeBodyComponent,
    },
    methods: {
        openModal() {
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeNoticeBody = this.$refs.noticeBodyValidator.validateNoticeBody(this.noticeBody);
            if (!judgeNoticeBody) {
                return;
            }

            const params = new FormData();
            params.append('notice_body', this.noticeBody);

            axios
                .post('/api/admin/add_notice',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>