<template>
    <div>
        <div v-if="openingFlashMessageBox" class="flash_message">{{ flashMessage }}</div>
        <admin-noticies-menu-component v-on:child-event="judgeAddNoticeEvent"></admin-noticies-menu-component>
        <section>
            <h2>お知らせ一覧 {{ total }}</h2>

            <p v-if="loading">Loading...</p>
			<p v-if="errored">情報を取得できませんでした。</p>

            <div v-if="success">
                <table class="ta1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>本文</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody v-for="(notice, index) in noticies" :key="notice.id">
                        <tr>
                            <td>{{ notice.id }}</td>
                            <td>
                                <textarea class="pre_br" v-model="notice.body" readonly></textarea>
                                <span class="edit_notice_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditNoticeBodyModal(index)">編集</a>
								</span>
                                <edit-notice-body-modal-component ref="editNoticeBodyModal" v-on:child-event="judgeEditNoticeEvent"></edit-notice-body-modal-component>
                            </td>
                            <td>
                                <button v-on:click="openDeleteNoticeModal(index)">削除</button>
                                <delete-notice-modal-component ref="deleteNoticeModal" v-on:child-event="judgeDeleteNoticeEvent"></delete-notice-modal-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
import AdminConst from '../../../adminConst';
import editNoticeBodyModalComponent from './EditNoticeBodyModalComponent.vue';
import deleteNoticeModalComponent from './DeleteNoticeModalComponent.vue';

export default {
    data() {
        return {
            loading: false,
            errored: false,
            success: false,
            noticies: null,
            total: null,
            flashMessage: null,
            openingFlashMessageBox: false,
        }
    },
    components: {
        'edit-notice-body-modal-component': editNoticeBodyModalComponent,
        'delete-notice-modal-component': deleteNoticeModalComponent,
    },
    created() {
        this.executeAjax();
    },
    methods: {
        judgeAddNoticeEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorAddNoticeMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successAddNoticeMessage);
            this.executeAjax();
        },
        judgeEditNoticeEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorEditNoticeMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successEditNoticeMessage);
            this.executeAjax();
        },
        judgeDeleteNoticeEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorDeleteNoticeMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successDeleteNoticeMessage);
            this.executeAjax();
        },
        openFlashMessage(flashMessage) {
			this.flashMessage = flashMessage;
			this.openingFlashMessageBox = true;
		},
        executeAjax() {
			this.total = null;
			this.errored = false;
			this.success = false;
			this.loading = true;
			axios
				.get('/api/admin/noticies')
				.then(response => {
					this.noticies = response.data;
					this.total = this.noticies.length + '件';
					this.success = true;
				})
				.catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
					this.openingFlashMessageBox = false;
				});
        },
        openEditNoticeBodyModal(index) {
            this.$refs.editNoticeBodyModal[index].openModal(this.noticies[index]);
        },
        openDeleteNoticeModal(index) {
            this.$refs.deleteNoticeModal[index].openModal(this.noticies[index]);
        },
    }
}
</script>