.edit_my_account_modal_button {
  margin-left: 10px;
}

.edit_buttons {
  margin: 10px;
}

.edit_my_account_name_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit_my_account_name_modal {
  border-radius: 10px;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

.edit_my_account_email_modal_content {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.edit_my_account_email_modal {
  border-radius: 10px;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 70px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
}

