<template>
    <div v-if="openingModal" class="edit_my_account_name_modal_content">
        <div class="overlay">
            <div class="edit_my_account_name_modal">
                <table>
                    <tr>
                        <th>現在のアカウント名</th>
                        <td>{{ myAccount.name }}</td>
                    </tr>
                    <tr>
                        <th>変更アカウント名</th>
                        <td>
                            <input v-model="changeMyAccountName" type="text">
                            <validate-my-account-name ref="validator"></validate-my-account-name>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateMyAccountName from './ValidateComponent/ValidateMyAccountNameComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            myAccount: null,
            changeMyAccountName: null,
        }
    },
    components: {
        'validate-my-account-name': validateMyAccountName,
    },
    methods: {
        openModal(myAccount) {
            this.myAccount = myAccount
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeMyAccountName = this.$refs.validator.validateMyAccountName(this.changeMyAccountName);
            if (!judgeMyAccountName) {
                return;
            }

            const params = new FormData();
            params.append('change_my_account_name', this.changeMyAccountName);
            params.append('my_account_id', this.myAccount['id']);

            axios
                .post('/api/general/edit_my_account_name',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>