<template>
    <div v-if="openingModal" class="edit_my_account_email_modal_content">
        <div class="overlay">
            <div class="edit_my_account_email_modal">
                <table>
                    <tr>
                        <th>現在のメールアドレス</th>
                        <td>{{ myAccount.email }}</td>
                    </tr>
                    <tr>
                        <th>変更メールアドレス</th>
                        <td>
                            <input v-model="changeMyAccountEmail" type="text">
                            <validate-my-account-email-component ref="validator"></validate-my-account-email-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateMyAccountEmailComponent from './ValidateComponent/ValidateMyAccountEmailComponent.vue';
export default {
    data() {
        return {
            openingModal: false,
            myAccount: null,
            changeMyAccountEmail: null,
        }
    },
    components: {
        'validate-my-account-email-component': validateMyAccountEmailComponent,
    },
    methods: {
        openModal(myAccount) {
            this.myAccount = myAccount
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeMyAccountEmail = this.$refs.validator.validateMyAccountEmail(this.changeMyAccountEmail);
            if (!judgeMyAccountEmail) {
                return;
            }

            const params = new FormData();
            params.append('change_my_account_email', this.changeMyAccountEmail);
            params.append('my_account_id', this.myAccount['id']);

            axios
                .post('/api/general/edit_my_account_email',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>