<template>
    <div>
        <div v-if="openingFlashMessageBox" class="flash_message">{{ flashMessage }}</div>
        <section>
            <h2>マイアカウント情報</h2>

            <p v-if="loading">Loading...</p>
			<p v-if="errored">情報を取得できませんでした。</p>

            <div v-if="success">
                <table class="ta1">
                    <tr>
                        <th>ID</th>
                        <td>{{ myAccount.id }}</td>
                    </tr>
                    <tr>
                        <th>アカウント名</th>
                        <td>
                            {{ myAccount.name }}
                            <span class="edit_my_account_modal_button">
                                <a href="javascript:void(0)" v-on:click="openEditMyAccountNameModal()">編集</a>
                            </span>
                            <edit-my-account-name-modal-component ref="editMyAccountNameModal" v-on:child-event="judgeEditMyAccountEvent"></edit-my-account-name-modal-component>
                        </td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td>
                            {{ myAccount.email }}
                            <span class="edit_my_account_modal_button">
                                <a href="javascript:void(0)" v-on:click="openEditMyAccountEmailModal()">編集</a>
                            </span>
                            <edit-my-account-email-modal-component ref="editMyAccountEmailModal" v-on:child-event="judgeEditMyAccountEvent"></edit-my-account-email-modal-component>
                        </td>
                    </tr>
                    <tr>
                        <th>本日の作業場所</th>
                        <td>
                            <div v-for="todayWorkPlace in myAccount.today_work_places" v-bind:key="todayWorkPlace">
                                <div>{{ todayWorkPlace }}</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
import Const from '../../../const';
import editMyAccountNameModalComponent from './EditMyAccountNameModalComponent.vue';
import editMyAccountEmailModalComponent from './EditMyAccountEmailModalComponent.vue';

export default {
    data() {
        return {
            loading: false,
            errored: false,
            success: false,
            myAccount: null,
            openingFlashMessageBox: false,
        }
    },
    components: {
        'edit-my-account-name-modal-component': editMyAccountNameModalComponent,
        'edit-my-account-email-modal-component': editMyAccountEmailModalComponent,
    },
    created() {
        this.executeAjax();
    },
    methods: {
        executeAjax() {
			this.errored = false;
			this.success = false;
			this.loading = true;
			axios
				.get('/api/general/my_account')
				.then(response => {
					this.myAccount = response.data;
					this.success = true;
				})
				.catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
					this.openingFlashMessageBox = false;
				});
        },
        judgeEditMyAccountEvent(judge) {
            if (!judge) {
                this.openFlashMessage(Const.errorEditMyAccountMessage);
                return;
            }
            this.openFlashMessage(Const.successEditMyAccountMessage);
            this.executeAjax();
        },
        openFlashMessage(flashMessage) {
			this.flashMessage = flashMessage;
			this.openingFlashMessageBox = true;
        },
        openEditMyAccountNameModal() {
            this.$refs.editMyAccountNameModal.openModal(this.myAccount);
        },
        openEditMyAccountEmailModal() {
            this.$refs.editMyAccountEmailModal.openModal(this.myAccount);
        }
    }
}
</script>