#my_files_menu {
	text-align: center;
}

#inline_my_files_menu {
	display: inline-block;
}

#add_my_file_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#add_my_file_modal {
	border-radius: 10px;
	width:80%;
	height: 95%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:75px 30px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

#add_my_file_buttons {
	margin:10px;
}

.edit_myfile_modal_button {
	margin-left: 10px;
}

.edit_buttons {
	margin:10px;
}

.delete_buttons {
	margin:10px;
}

.edit_first_work_file_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_first_work_file_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_second_work_file_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_second_work_file_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_third_work_file_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_third_work_file_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_work_date_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_work_date_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_work_memo_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_work_memo_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_work_place_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_work_place_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.delete_my_file_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.delete_my_file_modal {
	border-radius: 10px;
	width: 50%;
	height: 30%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:50px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}