<template>
    <div v-if="openingModal" class="delete_user_modal_content">
        <div class="overlay">
            <div class="delete_user_modal">
                <div>
                    ユーザー名{{ user.name }}を削除しますか?
                </div>
                <div class="delete_user_buttons">
                    <button v-on:click="submitData" type="submit">削除</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openingModal: false,
            user: null,
        }
    },
    methods: {
        openModal(user) {
            this.user = user;
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            const params = new FormData();
            params.append('delete_user_id', this.user.id);

            axios
                .post('/api/admin/delete_user',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>