<template>
    <div v-if="openingModal" class="edit_user_name_modal_content">
        <div class="overlay">
            <div class="edit_user_name_modal">
                <table>
                    <tr>
                        <th>現在のアカウント名</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>変更アカウント名</th>
                        <td>
                            <input v-model="changeUserName" type="text">
                            <validate-user-name-component ref="validator"></validate-user-name-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateUserNameComponent from './ValidateComponent/ValidateUserNameComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            user: null,
            changeUserName: null,
        }
    },
    components: {
        'validate-user-name-component': validateUserNameComponent,
    },
    methods: {
        openModal(user) {
            this.user = user;
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeUserName = this.$refs.validator.validateUserName(this.changeUserName);
            if (!judgeUserName) {
                return;
            }

            const params = new FormData();
            params.append('change_user_name', this.changeUserName);
            params.append('user_id', this.user.id);

            axios
                .post('/api/admin/edit_user_name',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>