<template>
    <div v-if="openingModal" class="edit_user_role_modal_content">
        <div class="overlay">
            <div class="edit_user_role_modal">
                <p v-if="loading">Loading...</p>
			    <p v-if="errored">情報を取得できませんでした。</p>
                <div v-if="success">
                    <table>
                        <tr>
                            <th>現在の権限</th>
                            <td>{{ user.role }}</td>
                        </tr>
                        <tr>
                            <th>変更権限</th>
                            <td>
                                <select v-model="changeUserRole">
                                    <option v-for="userRole in userRoles" :key="userRole.value" v-bind:value="userRole.value">{{ userRole.name }}</option>
                                </select>
                                <validate-user-role-component ref="validator"></validate-user-role-component>
                            </td>
                        </tr>
                    </table>
                    <div class="edit_buttons">
                        <button v-on:click="submitData" type="submit">編集</button>
                        <button v-on:click="closeModal">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateUserRoleComponent from './ValidateComponent/ValidateUserRoleComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            loading: false,
            errored: false,
            success: false,
            user: null,
            changeUserRole: null,
            userRoles: null,
        }
    },
    components: {
        'validate-user-role-component': validateUserRoleComponent,
    },
    methods: {
        openModal(user) {
            this.user = user;
            this.openingModal = true;
            this.getUserRoles();
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeUserRole = this.$refs.validator.validateUserRole(this.changeUserRole);
            if (!judgeUserRole) {
                return;
            }

            const params = new FormData();
            params.append('change_user_role', this.changeUserRole);
            params.append('user_id', this.user.id);

            axios
                .post('/api/admin/edit_user_role',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        getUserRoles() {
            this.errored = false;
			this.success = false;
			this.loading = true;
            axios
                .get('/api/admin/user_roles')
                .then(response => {
                    this.userRoles = response.data;
                    this.success = true;
                })
                .catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
				});
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>