<template>
    <section>
        <h2>ユーザー一覧メニュー</h2>
        <div id="users_menu">
            <div id="inline_users_menu">
                <button v-on:click="openModal">新規登録</button>
                <div v-if="openingModal" id="add_user_modal_content">
                    <div class="overlay">
                        <div id="add_user_modal">
                            <p v-if="loading">Loading...</p>
			                <p v-if="errored">情報を取得できませんでした。</p>
                            <div v-if="success">
                                <table>
                                    <tr>
                                        <th>氏名</th>
                                        <td>
                                            <input type="text" v-model="userName">
                                            <validate-user-name-component ref="userNameValidator"></validate-user-name-component>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>メールアドレス</th>
                                        <td>
                                            <input type="email" v-model="userEmail">
                                            <validate-user-email-component ref="userEmailValidator"></validate-user-email-component>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>パスワード</th>
                                        <td>
                                            <input type="password" v-model="userPassword">
                                            <validate-user-password-component ref="userPasswordValidator"></validate-user-password-component>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>権限</th>
                                        <td>
                                            <select v-model="selectUserRole">
                                                <option v-for="userRole in userRoles" :key="userRole.value" v-bind:value="userRole.value">{{ userRole.name }}</option>
                                            </select>
                                            <validate-user-role-component ref="userRoleValidator"></validate-user-role-component>
                                        </td>
                                    </tr>
                                </table>
                                <div id="add_user_buttons">
                                    <button v-on:click="submitData" type="submit">登録</button>
                                    <button v-on:click="closeModal">キャンセル</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import validateUserNameComponent from './ValidateComponent/ValidateUserNameComponent.vue';
import validateUserEmailComponent from './ValidateComponent/ValidateUserEmailComponent.vue';
import validateUserPasswordComponent from './ValidateComponent/ValidateUserPasswordComponent.vue';
import validateUserRoleComponent from './ValidateComponent/ValidateUserRoleComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            userName: null,
            userEmail: null,
            userPassword: null,
            selectUserRole: null,
            userRoles: null,
            loading: false,
            errored: false,
            success: false,
        }
    },
    components: {
        'validate-user-name-component': validateUserNameComponent,
        'validate-user-email-component': validateUserEmailComponent,
        'validate-user-password-component': validateUserPasswordComponent,
        'validate-user-role-component': validateUserRoleComponent,
    },
    methods: {
        openModal() {
            this.openingModal = true;
            this.getUserRoles();
        },
        closeModal() {
            this.resetData();
        },
        getUserRoles() {
            this.errored = false;
			this.success = false;
			this.loading = true;
            axios
                .get('/api/admin/user_roles')
                .then(response => {
                    this.userRoles = response.data;
                    this.success = true;
                })
                .catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
				});
        },
        submitData() {
            let judgeUserName = this.$refs.userNameValidator.validateUserName(this.userName);
            let judgeUserEmail = this.$refs.userEmailValidator.validateUserEmail(this.userEmail);
            let judgeUserPassword = this.$refs.userPasswordValidator.validateUserPassword(this.userPassword);
            let judgeUserRole = this.$refs.userRoleValidator.validateUserRole(this.selectUserRole);
            if (!judgeUserName || !judgeUserEmail || !judgeUserPassword) {
                return;
            }

            const params = new FormData();
            params.append('user_name', this.userName);
            params.append('user_email', this.userEmail);
            params.append('user_password', this.userPassword);
            params.append('user_role', this.selectUserRole);

            axios
                .post('/api/admin/add_user',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>