<template>
    <div>
        <div v-if="openingFlashMessageBox" class="flash_message">{{ flashMessage }}</div>
        <admin-users-menu-component v-on:child-event="judgeAddUserEvent"></admin-users-menu-component>
        <section>
            <h2>ユーザー一覧 {{ total }}</h2>

            <p v-if="loading">Loading...</p>
			<p v-if="errored">情報を取得できませんでした。</p>

            <div v-if="success">
                <table class="ta1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>名前</th>
                            <th>メールアドレス</th>
                            <th>権限</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody v-for="(user, index) in users" :key="user.id">
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>
                                {{ user.name }}
                                <span class="edit_user_modal_button">
                                    <a href="javascript:void(0)" v-on:click="openEditUserNameModal(index)">編集</a>
                                </span>
                                <edit-user-name-modal-component ref="editUserNameModal" v-on:child-event="judgeEditUserEvent"></edit-user-name-modal-component>
                            </td>
                            <td>
                                {{ user.email }}
                                <span class="edit_user_modal_button">
                                    <a href="javascript:void(0)" v-on:click="openEditUserEmailModal(index)">編集</a>
                                </span>
                                <edit-user-email-modal-component ref="editUserEmailModal" v-on:child-event="judgeEditUserEvent"></edit-user-email-modal-component>
                            </td>
                            <td>
                                {{ user.role }}
                                <span class="edit_user_modal_button">
                                    <a href="javascript:void(0)" v-on:click="openEditUserRoleModal(index)">編集</a>
                                </span>
                                <edit-user-role-model-component ref="editUserRoleModal" v-on:child-event="judgeEditUserEvent"></edit-user-role-model-component>
                            </td>
                            <td>
                                <button v-on:click="openDeleteUserModal(index)">削除</button>
                                <delete-user-modal-component ref="deleteUserModal" v-on:child-event="judgeDeleteUserEvent"></delete-user-modal-component>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</template>

<script>
import AdminConst from '../../../adminConst';
import editUserNameModalComponent from './EditUserNameModalComponent.vue';
import editUserEmailModalComponent from './EditUserEmailModalComponent.vue';
import editUserRoleModalComponent from './EditUserRoleModalComponent.vue';
import deleteUserModalComponent from './DeleteUserModalComponent.vue';

export default {
    data() {
        return {
            loading: false,
            errored: false,
            success: false,
            users: null,
            total: null,
            flashMessage: null,
            openingFlashMessageBox: false,
        }
    },
    components: {
        'edit-user-name-modal-component': editUserNameModalComponent,
        'edit-user-email-modal-component': editUserEmailModalComponent,
        'edit-user-role-model-component': editUserRoleModalComponent,
        'delete-user-modal-component': deleteUserModalComponent,
    },
    created() {
        this.executeAjax();
    },
    methods: {
        judgeAddUserEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorAddUserMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successAddUserMessage);
            this.executeAjax();
        },
        judgeEditUserEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorEditUserMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successEditUserMessage);
            this.executeAjax();
        },
        judgeDeleteUserEvent(judge) {
            if (!judge) {
                this.openFlashMessage(AdminConst.errorDeleteUserMessage);
                return;
            }
            this.openFlashMessage(AdminConst.successDeleteUserMessage);
            this.executeAjax();
        },
        openFlashMessage(flashMessage) {
			this.flashMessage = flashMessage;
			this.openingFlashMessageBox = true;
		},
        executeAjax() {
			this.total = null;
			this.errored = false;
			this.success = false;
			this.loading = true;
			axios
				.get('/api/admin/users')
				.then(response => {
					this.users = response.data;
					this.total = this.users.length + '件';
					this.success = true;
				})
				.catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
					this.openingFlashMessageBox = false;
				});
        },
        openEditUserNameModal(index) {
            this.$refs.editUserNameModal[index].openModal(this.users[index]);
        },
        openEditUserEmailModal(index) {
            this.$refs.editUserEmailModal[index].openModal(this.users[index]);
        },
        openEditUserRoleModal(index) {
            this.$refs.editUserRoleModal[index].openModal(this.users[index]);
        },
        openDeleteUserModal(index) {
            this.$refs.deleteUserModal[index].openModal(this.users[index]);
        }
    }
}
</script>