<template>
    <div v-if="myAccountNameError" class="error_box">{{ myAccountNameErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            myAccountNameError: false,
            myAccountNameErrorMessage: null,
        }
    },
    methods: {
        validateMyAccountName(myAccountName) {
            if (!myAccountName) {
                this.setErrorMessage(Const.myAccountNameNullErrorMessage);
                return false;
            }
            if (typeof myAccountName != Const.myAccountNameType) {
                this.setErrorMessage(Const.myAccountNameTypeErrorMessage);
                return false;
            }
            if (myAccountName.length > Const.myAccountNameLength) {
                this.setErrorMessage(Const.myAccountNameLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.myAccountNameErrorMessage = errorMessage;
            this.myAccountNameError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>