<template>
    <div v-if="myAccountEmailError" class="error_box">{{ myAccountEmailErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';

export default {
    data() {
        return {
            myAccountEmailError: false,
            myAccountEmailErrorMessage: null,
        }
    },
    methods: {
        validateMyAccountEmail(myAccountEmail) {
            if (!myAccountEmail) {
                this.setErrorMessage(Const.myAccountEmailNullErrorMessage);
                return false;
            }
            if (!Const.myAccountEmailType.test(myAccountEmail)) {
                this.setErrorMessage(Const.myAccountEmailTypeErrorMessage);
                return false;
            }
            if (myAccountEmail > Const.myAccountEmailLength) {
                this.setErrorMessage(Const.myAccountEmailLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.myAccountEmailErrorMessage = errorMessage;
            this.myAccountEmailError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>