<template>
    <div v-if="userNameError" class="error_box">{{ userNameErrorMessage }}</div>
</template>

<script>
import AdminConst from '../../../../adminConst';
export default {
    data() {
        return {
            userNameError: false,
            userNameErrorMessage: null,
        }
    },
    methods: {
        validateUserName(userName) {
            if (!userName) {
                this.setErrorMessage(AdminConst.userNameNullErrorMessage);
                return false;
            }
            if (typeof userName != AdminConst.userNameType) {
                this.setErrorMessage(AdminConst.userNameTypeErrorMessage);
                return false;
            }
            if (userName.length > AdminConst.userNameLength) {
                this.setErrorMessage(AdminConst.userNameLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.userNameErrorMessage = errorMessage;
            this.userNameError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>