<template>
    <div v-if="userEmailError" class="error_box">{{ userEmailErrorMessage }}</div>
</template>

<script>
import AdminConst from '../../../../adminConst';
export default {
    data() {
        return {
            userEmailError: false,
            userEmailErrorMessage: null,
        }
    },
    methods: {
        validateUserEmail(userEmail) {
            if (!userEmail) {
                this.setErrorMessage(AdminConst.userEmailNullErrorMessage);
                return false;
            }
            if (!AdminConst.userEmailType.test(userEmail)) {
                this.setErrorMessage(AdminConst.userEmailTypeErrorMessage);
                return false;
            }
            if (userEmail.length > AdminConst.userEmailLength) {
                this.setErrorMessage(AdminConst.userEmailLengthErrorMessage);
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.userEmailErrorMessage = errorMessage;
            this.userEmailError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>