<template>
    <div v-if="userPasswordError" class="error_box">{{ userPasswordErrorMessage }}</div>
</template>

<script>
import AdminConst from '../../../../adminConst';
export default {
    data() {
        return {
            userPasswordError: false,
            userPasswordErrorMessage: null,
        }
    },
    methods: {
        validateUserPassword(userPassword) {
            if (!userPassword) {
                this.setErrorMessage(AdminConst.userPasswordNullErrorMessage);
                return false;
            }
            if (!AdminConst.userPasswordType.test(userPassword)) {
                this.setErrorMessage(AdminConst.userPasswordTypeErrorMessage);
                return false;
            }
            if (userPassword.length < AdminConst.userPasswordMinLength || userPassword.length > AdminConst.userPasswordMaxLength) {
                this.setErrorMessage(AdminConst.userPasswordLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.userPasswordErrorMessage = errorMessage;
            this.userPasswordError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>