<template>
    <div v-if="userRoleError" class="error_box">{{ userRoleErrorMessage }}</div>
</template>

<script>
import AdminConst from '../../../../adminConst';
export default {
    data() {
        return {
            userRoleError: false,
            userRoleErrorMessage: null,
        }
    },
    methods: {
        validateUserRole(userRole) {
            if (!userRole) {
                this.setErrorMessage(AdminConst.userRoleNullErrorMessage);
                return false;
            }
            if (!AdminConst.userRoleTypes.includes(userRole)) {
                this.setErrorMessage(AdminConst.userRoleTypeErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.userRoleErrorMessage = errorMessage;
            this.userRoleError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>