<template>
    <div v-if="noticeBodyError" class="error_box">{{ noticeBodyErrorMessage }}</div>
</template>

<script>
import AdminConst from '../../../../adminConst';

export default {
    data() {
        return {
            noticeBodyError: false,
            noticeBodyErrorMessage: null,
        }
    },
    methods: {
        validateNoticeBody(noticeBody) {
            if (!noticeBody) {
                this.setErrorMessage(AdminConst.noticeBodyNullErrorMessage);
                return false;
            }
            if (typeof noticeBody != AdminConst.noticeBodyType) {
                this.setErrorMessage(AdminConst.noticeBodyTypeErrorMessage);
                return false;
            }
            if (noticeBody.length > AdminConst.noticeBodyLength) {
                this.setErrorMessage(AdminConst.noticeBodyLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.noticeBodyErrorMessage = errorMessage;
            this.noticeBodyError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>