<template>
    <div v-if="openingModal" class="delete_my_file_modal_content">
        <div class="overlay">
            <div class="delete_my_file_modal">
                <div>
                    マイファイルID{{ myFile.id }}を削除しますか?
                </div>
                <div class="delete_buttons">
                    <button v-on:click="submitData" type="submit">削除</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openingModal: false,
            myFile: null,
        }
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile;
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            const params = new FormData();
            params.append('my_file_id', this.myFile['id']);
            params.append('first_file_path', this.myFile['first_file_path']);
            params.append('second_file_path', this.myFile['second_file_path']);
            params.append('third_file_path', this.myFile['third_file_path']);

            axios
                .post('/api/general/delete_my_file',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>