<template>
    <div v-if="openingModal" class="edit_third_work_file_modal_content">
        <div class="overlay">
            <div class="edit_third_work_file_modal">
                <table>
                    <tr>
                        <th>現在の作業ファイル3</th>
                        <td>
                            <a v-if="myFile.third_file_name" v-bind:href="myFile.third_file_path">{{ myFile.third_file_name }}</a>
                            <template v-else>ファイルなし</template>
                        </td>
                    </tr>
                    <tr>
                        <th>変更先ファイル</th>
                        <td>
                            <input v-on:change="selectedFile" type="file">
                            <validate-third-work-file-component ref="validator"></validate-third-work-file-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateThirdWorkFileComponent from './ValidateComponent/ValidateThirdWorkFileComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            changeThirdWorkFile: null,
            myFile: null,
        }
    },
    components: {
        'validate-third-work-file-component': validateThirdWorkFileComponent,
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        selectedFile(event) {
            this.changeThirdWorkFile = event.target.files[0]
        },
        submitData() {
            let judgeThirdWorkFile = this.$refs.validator.validateThirdWorkFile(this.changeThirdWorkFile);
            if (!judgeThirdWorkFile) {
                return;
            }

            const params = new FormData();
            params.append('change_file', this.changeThirdWorkFile);
            params.append('my_file_id', this.myFile['id']);
            params.append('third_file_path', this.myFile['third_file_path']);
            params.append('work_date', this.myFile['work_date']);

            axios
                .post('/api/general/edit_third_work_file',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>