<template>
    <div v-if="openingModal" class="edit_first_work_file_modal_content">
        <div class="overlay">
            <div class="edit_first_work_file_modal">
                <table>
                    <tr>
                        <th>現在の作業ファイル1</th>
                        <td>
                            <a v-bind:href="myFile.first_file_path">{{ myFile.first_file_name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>変更先ファイル</th>
                        <td>
                            <input v-on:change="selectedFile" type="file">
                            <validate-first-work-file-component ref="validator"></validate-first-work-file-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateFirstWorkFileComponent from './ValidateComponent/ValidateFirstWorkFileComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            changeFirstWorkFile: null,
            myFile: null,
        }
    },
    components: {
        'validate-first-work-file-component': validateFirstWorkFileComponent,
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        selectedFile(event) {
            this.changeFirstWorkFile = event.target.files[0]
        },
        submitData() {
            let judgeFirstWorkFile = this.$refs.validator.validateFirstWorkFile(this.changeFirstWorkFile);
            if (!judgeFirstWorkFile) {
                return;
            }

            const params = new FormData();
            params.append('change_file', this.changeFirstWorkFile);
            params.append('my_file_id', this.myFile['id']);
            params.append('first_file_path', this.myFile['first_file_path']);
            params.append('work_date', this.myFile['work_date']);

            axios
                .post('/api/general/edit_first_work_file',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>