<template>
    <div v-if="openingModal" class="edit_work_date_modal_content">
        <div class="overlay">
            <div class="edit_work_date_modal">
                <table>
                    <tr>
                        <th>現在の作業日</th>
                        <td>{{ myFile.work_date }}</td>
                    </tr>
                    <tr>
                        <th>変更作業日</th>
                        <td>
                            <input v-model="changeWorkDate" type="date">
                            <validate-work-date-component ref="validator"></validate-work-date-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateWorkDateComponent from './ValidateComponent/ValidateWorkDateComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            changeWorkDate: null,
            myFile: null,
        }
    },
    components: {
        'validate-work-date-component': validateWorkDateComponent,
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeWorkDate = this.$refs.validator.validateWorkDate(this.changeWorkDate);
            if (!judgeWorkDate) {
                return;
            }

            const params = new FormData();
            params.append('change_work_date', this.changeWorkDate);
            params.append('my_file_id', this.myFile['id']);
            params.append('first_file_path', this.myFile['first_file_path']);
            params.append('second_file_path', this.myFile['second_file_path']);
            params.append('third_file_path', this.myFile['third_file_path']);

            axios
                .post('/api/general/edit_work_date',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>