<template>
    <div v-if="openingModal" class="edit_work_memo_modal_content">
        <div class="overlay">
            <div class="edit_work_memo_modal">
                <table>
                    <tr>
                        <th>現在の作業日</th>
                        <td>
                            <textarea class="pre_br" v-model="changeWorkMemo"></textarea>
                            <validate-work-memo-component ref="validator"></validate-work-memo-component>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateWorkMemoComponent from './ValidateComponent/ValidateWorkMemoComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            changeWorkMemo: null,
            myFile: null,
        }
    },
    components: {
        'validate-work-memo-component': validateWorkMemoComponent,
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile;
            this.changeWorkMemo = myFile['memo'];
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeWorkMemo = this.$refs.validator.validateWorkMemo(this.changeWorkMemo);
            if (!judgeWorkMemo) {
                return;
            }

            const params = new FormData();
            params.append('change_work_memo', this.changeWorkMemo);
            params.append('my_file_id', this.myFile['id']);

            axios
                .post('/api/general/edit_work_memo',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>