<template>
    <div v-if="openingModal" class="edit_work_place_modal_content">
        <div class="overlay">
            <div class="edit_work_place_modal">
                <table>
                    <tr>
                        <th>現在の作業場所</th>
                        <td>{{ myFile.work_place }}</td>
                    </tr>
                    <tr>
                        <th>変更作業場所</th>
                        <td>
                            <input v-model="changeWorkPlace" type="text">
                            <validate-work-place ref="validator"></validate-work-place>
                        </td>
                    </tr>
                </table>
                <div class="edit_buttons">
                    <button v-on:click="submitData" type="submit">編集</button>
                    <button v-on:click="closeModal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import validateWorkPlace from './ValidateComponent/ValidateWorkPlaceComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            myFile: null,
            changeWorkPlace: null,
        }
    },
    components: {
        'validate-work-place': validateWorkPlace,
    },
    methods: {
        openModal(myFile) {
            this.myFile = myFile
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        submitData() {
            let judgeWorkPlace = this.$refs.validator.validateWorkPlace(this.changeWorkPlace);
            if (!judgeWorkPlace) {
                return;
            }

            const params = new FormData();
            params.append('change_work_place', this.changeWorkPlace);
            params.append('my_file_id', this.myFile['id']);

            axios
                .post('/api/general/edit_work_place',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
}
</script>