<template>
    <section>
        <h2>登録ファイル一覧メニュー</h2>
        <div id="my_files_menu">
            <div id="inline_my_files_menu">
                <button v-on:click="openModal">新規登録</button>
                <div v-if="openingModal" id="add_my_file_modal_content">
                    <div class="overlay">
                        <div id="add_my_file_modal">
                            <table>
                                <tr>
                                    <th>作業ファイル1</th>
                                    <td>
                                        <input v-on:change="selectedFirstFile" type="file">
                                        <validate-first-work-file ref="firstWorkFileValidator"></validate-first-work-file>
                                    </td>
                                </tr>
                                <tr>
                                    <th>作業ファイル2</th>
                                    <td>
                                        <input v-on:change="selectedSecondFile" type="file">
                                        <validate-second-work-file ref="secondWorkFileValidator"></validate-second-work-file>
                                    </td>
                                </tr>
                                <tr>
                                    <th>作業ファイル3</th>
                                    <td>
                                        <input v-on:change="selectedThirdFile" type="file">
                                        <validate-third-work-file ref="thirdWorkFileValidator"></validate-third-work-file>
                                    </td>
                                </tr>
                                <tr>
                                    <th>作業日</th>
                                    <td>
                                        <input v-model="workDate" type="date">
                                        <validate-work-date ref="workDateValidator"></validate-work-date>
                                    </td>
                                </tr>
                                <tr>
                                    <th>作業場所</th>
                                    <td>
                                        <input v-model="workPlace" type="text">
                                        <validate-work-place ref="workPlaceValidator"></validate-work-place>
                                    </td>
                                </tr>
                                <tr>
                                    <th>メモ</th>
                                    <td>
                                        <textarea v-model="workMemo"></textarea>
                                        <validate-work-memo ref="workMemoValidator"></validate-work-memo>
                                    </td>
                                </tr>
                            </table>
                            <div id="add_my_file_buttons">
                                <button v-on:click="submitData" type="submit">登録</button>
                                <button v-on:click="closeModal">キャンセル</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import validateFirstWorkFile from './ValidateComponent/ValidateFirstWorkFileComponent.vue';
import validateSecondWorkFile from './ValidateComponent/ValidateSecondWorkFileComponent.vue';
import validateThirdWorkFile from './ValidateComponent/ValidateThirdWorkFileComponent.vue';
import validateWorkDate from './ValidateComponent/ValidateWorkDateComponent.vue';
import validateWorkMemo from './ValidateComponent/ValidateWorkMemoComponent.vue';
import validateWorkPlace from './ValidateComponent/ValidateWorkPlaceComponent.vue';

export default {
    data() {
        return {
            openingModal: false,
            workDate: null,
            workMemo: null,
            workPlace: null,
            firstWorkFile: null,
            secondWorkFile: null,
            thirdWorkFile: null,
        }
    },
    components: {
        'validate-first-work-file': validateFirstWorkFile,
        'validate-second-work-file': validateSecondWorkFile,
        'validate-third-work-file': validateThirdWorkFile,
        'validate-work-date': validateWorkDate,
        'validate-work-memo': validateWorkMemo,
        'validate-work-place': validateWorkPlace,
    },
    methods: {
        openModal() {
            this.openingModal = true;
        },
        closeModal() {
            this.resetData();
        },
        selectedFirstFile(event) {
            this.firstWorkFile = event.target.files[0]
        },
        selectedSecondFile(event) {
            this.secondWorkFile = event.target.files[0]
        },
        selectedThirdFile(event) {
            this.thirdWorkFile = event.target.files[0]
        },
        submitData() {
            let judgeFirstWorkFile = this.$refs.firstWorkFileValidator.validateFirstWorkFile(this.firstWorkFile);
            let judgeSecondWorkFile = this.$refs.secondWorkFileValidator.validateSecondWorkFile(this.secondWorkFile);
            let judgeThirdWorkFile = this.$refs.thirdWorkFileValidator.validateThirdWorkFile(this.thirdWorkFile);
            let judgeWorkDate = this.$refs.workDateValidator.validateWorkDate(this.workDate);
            let judgeWorkMemo = this.$refs.workMemoValidator.validateWorkMemo(this.workMemo);
            let judgeWorkPlace = this.$refs.workPlaceValidator.validateWorkPlace(this.workPlace);
            if (!judgeFirstWorkFile || !judgeSecondWorkFile || !judgeThirdWorkFile || !judgeWorkDate || !judgeWorkMemo || !judgeWorkPlace) {
                return;
            }

            const params = new FormData();
            params.append('work_date', this.workDate);
            params.append('work_place', this.workPlace);
            params.append('memo', this.workMemo);
            params.append('first_work_file', this.firstWorkFile);
            params.append('second_work_file', this.secondWorkFile);
            params.append('third_work_file', this.thirdWorkFile);

            axios
                .post('/api/general/add_my_file',
                    params,
                    {
                        headers: {
                            'content-type': 'multipart/form-data'
                        }
                    }
                )
                .then(response => {
                    this.resetData();
                    this.$emit('child-event', true);
                })
                .catch(err => {
                    this.resetData();
                    this.$emit('child-event', false);
                })
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        }
    }
};
</script>