<template>
	<div>
		<div v-if="openingFlashMessageBox" class="flash_message">{{ flashMessage }}</div>
		<myfiles-menu-component v-on:child-event="judgeAddMyFileEvent"></myfiles-menu-component>
		<section>
			<h2>検索結果　{{ total }}</h2>
			<div class="search_box">
				<label>From</label>
				<input v-model="fromDate" type="date">
				~
				<label>To</label>
				<input v-model="toDate" type="date">
			</div>
			<div id="search_button_box">
				<button type="submit" v-on:click="getMyFiles">検索</button>
			</div>

			<p v-if="loading">Loading...</p>
			<p v-if="errored">情報を取得できませんでした。</p>

			<div v-if="success">
				<div v-for="(myFile, index) in myFiles" :key="myFile.id">
					<table class="ta1">
						<tr>
							<th>マイファイルID</th>
							<td>{{ myFile.id }}</td>
						</tr>
						<tr>
							<th>作業ファイル1</th>
							<td>
								<a v-bind:href="myFile.first_file_path">{{ myFile.first_file_name }}</a>
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditFirstWorkFileModal(index)">編集</a>
								</span>
								<edit-first-work-file-modal-component ref="editFirstWorkFileModal" v-on:child-event="judgeEditMyFileEvent"></edit-first-work-file-modal-component>
							</td>
						</tr>
						<tr>
							<th>作業ファイル2</th>
							<td>
								<a v-if="myFile.second_file_name" v-bind:href="myFile.second_file_path">{{ myFile.second_file_name }}</a>
								<template v-else>ファイルなし</template>
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditSecondWorkFileModal(index)">編集</a>
								</span>
								<edit-second-work-file-modal-component ref="editSecondWorkFileModal" v-on:child-event="judgeEditMyFileEvent"></edit-second-work-file-modal-component>
							</td>
						</tr>
						<tr>
							<th>作業ファイル3</th>
							<td>
								<a v-if="myFile.third_file_name" v-bind:href="myFile.third_file_path">{{ myFile.third_file_name }}</a>
								<template v-else>ファイルなし</template>
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditThirdWorkFileModal(index)">編集</a>
								</span>
								<edit-third-work-file-modal-component ref="editThirdWorkFileModal" v-on:child-event="judgeEditMyFileEvent"></edit-third-work-file-modal-component>
							</td>
						</tr>
						<tr>
							<th>作業日</th>
							<td>
								{{ myFile.work_date }}
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditWorkDateModal(index)">編集</a>
								</span>
								<edit-work-date-modal-component ref="editWorkDateModal" v-on:child-event="judgeEditMyFileEvent"></edit-work-date-modal-component>
							</td>
						</tr>
						<tr>
							<th>作業場所</th>
							<td>
								{{ myFile.work_place }}
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditWorkPlaceModal(index)">編集</a>
								</span>
								<edit-work-place-modal-component ref="editWorkPlaceModal" v-on:child-event="judgeEditMyFileEvent"></edit-work-place-modal-component>
							</td>
						</tr>
						<tr>
							<th>メモ</th>
							<td>
								<textarea class="pre_br" v-model="myFile.memo" readonly></textarea>
								<span class="edit_myfile_modal_button">
									<a href="javascript:void(0)" v-on:click="openEditWorkMemoModal(index)">編集</a>
								</span>
								<edit-work-memo-modal-component ref="editWorkMemoModal" v-on:child-event="judgeEditMyFileEvent"></edit-work-memo-modal-component>
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<button v-on:click="openDeleteMyFileModal(index)">削除</button>
								<delete-my-file-modal-component ref="deleteMyFileModal" v-on:child-event="judgeDeleteMyFileEvent"></delete-my-file-modal-component>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import Const from '../../../const';
import editFirstWorkFileModalComponent from './EditFirstWorkFileModalComponent.vue';
import editSecondWorkFileModalComponent from './EditSecondWorkFileModalComponent.vue';
import editThirdWorkFileModalComponent from './EditThirdWorkFileModalComponent.vue';
import editWorkDateModalComponent from './EditWorkDateModalComponent.vue';
import editWorkMemoModalComponent from './EditWorkMemoModalComponent.vue';
import editWorkPlaceModalComponent from './EditWorkPlaceModalComponent.vue';
import deleteMyFileModalComponent from './DeleteMyFileModalComponent.vue';

export default {
	data() {
		return {
			errored: false,
			loading: true,
			success: false,
			myFiles: null,
			total: null,
			fromDate: null,
			toDate: null,
			flashMessage: null,
			openingFlashMessageBox: false,
		}
	},
	components: {
		'edit-first-work-file-modal-component': editFirstWorkFileModalComponent,
		'edit-second-work-file-modal-component': editSecondWorkFileModalComponent,
		'edit-third-work-file-modal-component': editThirdWorkFileModalComponent,
		'edit-work-date-modal-component': editWorkDateModalComponent,
		'edit-work-memo-modal-component': editWorkMemoModalComponent,
		'edit-work-place-modal-component': editWorkPlaceModalComponent,
		'delete-my-file-modal-component': deleteMyFileModalComponent,
	},
	created() {
		this.executeAjax();
	},
	methods: {
		getMyFiles() {
			const queryParams = {
						fromDate: this.fromDate,
						toDate: this.toDate
					}
			this.executeAjax(queryParams);
		},
		judgeAddMyFileEvent(judge) {
			if (!judge) {
				this.openFlashMessage(Const.errorAddMyFileMessage);
				return;
			}
			this.openFlashMessage(Const.successAddMyFileMessage);
			this.executeAjax();
		},
		judgeEditMyFileEvent(judge) {
			if (!judge) {
				this.openFlashMessage(Const.errorEditMyFileMessage);
				return;
			}
			this.openFlashMessage(Const.successEditMyFileMessage);
			this.executeAjax();
		},
		judgeDeleteMyFileEvent(judge) {
			if (!judge) {
				this.openFlashMessage(Const.errorDeleteMyFileMessage);
				return;
			}
			this.openFlashMessage(Const.successDeleteMyFileMessage);
			this.executeAjax();
		},
		openFlashMessage(flashMessage) {
			this.flashMessage = flashMessage;
			this.openingFlashMessageBox = true;
		},
		executeAjax(queryParams = null) {
			this.total = null;
			this.errored = false;
			this.success = false;
			this.loading = true;
			axios
				.get('/api/general/my_files', {
					params: queryParams
				})
				.then(response => {
					this.myFiles = response.data;
					this.total = this.myFiles.length + '件';
					this.success = true;
				})
				.catch(err => {
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
					this.openingFlashMessageBox = false;
				});
		},
		openEditFirstWorkFileModal(index) {
			this.$refs.editFirstWorkFileModal[index].openModal(this.myFiles[index]);
		},
		openEditSecondWorkFileModal(index) {
			this.$refs.editSecondWorkFileModal[index].openModal(this.myFiles[index]);
		},
		openEditThirdWorkFileModal(index) {
			this.$refs.editThirdWorkFileModal[index].openModal(this.myFiles[index]);
		},
		openEditWorkDateModal(index) {
			this.$refs.editWorkDateModal[index].openModal(this.myFiles[index]);
		},
		openEditWorkMemoModal(index) {
			this.$refs.editWorkMemoModal[index].openModal(this.myFiles[index]);
		},
		openEditWorkPlaceModal(index) {
			this.$refs.editWorkPlaceModal[index].openModal(this.myFiles[index]);
		},
		openDeleteMyFileModal(index) {
			this.$refs.deleteMyFileModal[index].openModal(this.myFiles[index]);
		}
	}
};
</script>