@charset "UTF-8";

/*全端末共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/

body {
  margin: 0px;
  padding: 0px;
  color: #333;
  /*全体の文字色*/
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  /*フォント種類*/
  font-size: 14px;
  /*文字サイズ*/
  line-height: 2;
  /*行間*/
  background: #fff;
  /*背景色*/
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
figure,
form {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

ul {
  list-style-type: none;
}

ol {
  padding-left: 40px;
  padding-bottom: 15px;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  font-size: 100%;
  border-spacing: 0;
}

iframe {
  width: 100%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/

a {
  color: #333;
  /*リンクテキストの色*/
  /*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
  transition: 0.5s;
  /*同上*/
}

a:hover {
  color: #c80000;
  /*マウスオン時の文字色（全体）*/
  text-decoration: none;
  /*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*container（全てのブロックを囲む一番外側のブロック）
---------------------------------------------------------------------------*/

#container {
  width: 90%;
  /*ウィンドウに対しての幅。*/
  max-width: 1400px;
  /*上への追加指定。1400pxを最大幅とする。これ以上にはならないようにする設定。*/
  margin: 50px auto 0px;
  /*上(50px)、左右(auto)、下(0px)へあけるボックス外側への余白。autoは画面の中央に配置させる意味。*/
}

/*メインメニュー
---------------------------------------------------------------------------*/

/*メニュー１個あたりの設定*/

#menubar li {
  margin-bottom: 15px;
  /*メニュー同士に空けるスペース*/
  text-align: center;
  /*文字をセンタリング*/
}

#menubar a {
  border: 1px solid #0a06ac;
  /*枠線の幅、線種、色*/
  border-radius: 10px;
  /*角丸のサイズ*/
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  /*上下、左右へとる余白*/
  color: #0a06ac;
  /*文字色*/
}

/*マウスオン時*/

#menubar a:hover {
  color: #fff;
  /*文字色*/
  background: #0a06ac;
  /*背景色*/
}

/*mainブロック（右側のブロック）
---------------------------------------------------------------------------*/

#main {
  float: right;
  /*右側に回りこみさせる設定*/
  width: 75%;
  /*幅*/
}

/*h2タグの設定*/

#main h2 {
  clear: both;
  margin-bottom: 15px;
  font-size: 100%;
  color: #FFF;
  /*文字色*/
  background: #222;
  /*背景色（古いブラウザ用）*/
  /*グラデーション*/
  /*同上*/
  background: linear-gradient(#222, #000);
  /*同上*/
  padding: 5px 15px;
  /*上下、左右への余白*/
}

/*コンテンツのh3タグの設定*/

#main h3 {
  clear: both;
  margin-bottom: 15px;
  font-size: 100%;
  color: #fff;
  /*文字色*/
  background: #6b0000;
  /*背景色（古いブラウザ用）*/
  /*グラデーション*/
  /*同上*/
  background: linear-gradient(#0a06ac, #050357);
  /*同上*/
  border: 1px solid #050357;
  padding: 4px 15px;
  /*上下、左右への余白*/
  border-bottom: 4px solid #050357;
  /*下線の幅、線種、色*/
}

/*メインコンテンツのp(段落)タグ設定*/

#main p {
  padding: 0px 15px 14px;
  /*上、左右、下への余白*/
}

#main h2 + p,
#main h3 + p {
  margin-top: -5px;
}

/*GALLERYページ
---------------------------------------------------------------------------*/

/*各ボックスの設定*/

#main section {
  padding: 10px 0px;
}

#main section.list {
  float: left;
  /*画像を左へ回り込み*/
  width: 23%;
  /*幅*/
  margin: 0 0 15px 1.5%;
  /*ボックスの外（上、右、下、左）へ空けるスペース*/
  font-size: 12px;
  /*文字サイズ*/
  /*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  /*同上*/
  border-radius: 10px;
  /*角丸のサイズ*/
}

#main section.list a {
  padding: 9%;
  /*ボックス内の余白*/
  border-radius: 10px;
  /*角丸のサイズ*/
  text-decoration: none;
  display: block;
  overflow: hidden;
  background: #0a06ac;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/*マウスオンとクリック時の設定*/

#main section.list a:hover,
#main section.list a:active {
  background: #000;
}

/*ボックス内の段落タグ設定*/

#main section.list p {
  padding: 0px;
}

/*ボックス内の写真設定*/

#main section.list figure img {
  width: 100%;
  /*写真の幅*/
}

/*ボックス内のh4タグ設定*/

#main section.list h4 {
  color: #fff;
  /*文字色*/
}

#main table {
  border-collapse: collapse;
}

#main th,
td {
  border: solid 1px #000;
  padding: 5px;
}

#main th {
  width: 210px;
}

#main td {
  width: 840px;
}

#main input[type=text] {
  width: 80%;
  border-radius: 5px;
}

#main input[type=email] {
  width: 80%;
  border-radius: 5px;
}

#main input[type=password] {
  width: 80%;
  border-radius: 5px;
}

#main input[type=number] {
  border-radius: 5px;
}

#main textarea {
  width: 80%;
  border-radius: 5px;
  height: 100px;
}

#main select {
  width: 30%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.9);
  z-index: 1;
}

#main button {
  text-align: center;
  border: 1px solid #0a06ac;
  /*枠線の幅、線種、色*/
  border-radius: 10px;
  /*角丸のサイズ*/
  text-decoration: none;
  padding: 10px 10px;
  /*上下、左右へとる余白*/
  color: #0a06ac;
  /*文字色*/
  width: 100px;
  margin: auto;
}

#main button:hover {
  color: #fff;
  /*文字色*/
  background: #0a06ac;
  /*背景色*/
}

.error_box,
.flash_message {
  color: red;
  display: block;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid #0a06ac;
  background-color: #CCFFFF;
}

#main section table td {
  text-align: center;
}

#main .search_box,
#main #search_button_box {
  text-align: center;
}

#main #search_button_box {
  margin: 10px 0px 30px;
}

#main .error_contents {
  text-align: center;
}

#main .top_button_box {
  text-align: center;
  margin-top: 20px;
}

#main .top_button {
  border: 1px solid #0a06ac;
  /*枠線の幅、線種、色*/
  border-radius: 10px;
  /*角丸のサイズ*/
  text-decoration: none;
  padding: 10px 10px;
  /*上下、左右へとる余白*/
  color: #0a06ac;
  /*文字色*/
  width: 80px;
}

#main .top_button:hover {
  color: #fff;
  /*文字色*/
  background: #0a06ac;
  /*背景色*/
}

.pre_br {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*subブロック（左側のブロック）
---------------------------------------------------------------------------*/

#sub {
  float: left;
  /*左側に回りこみさせる設定*/
  position: fixed;
  /*スクロールしても動かさない設定。スクロールと共に通常通りに動かしたいならこの行削除。*/
  width: 20%;
  /*幅*/
  max-width: 308px;
  /*上への追加指定。このサイズを最大限に、これ以上大きくしない。*/
}

/*大きな端末用ロゴ画像
------------- --------------------------------------------------------------*/

#sub #logo {
  margin-bottom: 20px;
  /*画像の下に適度な余白*/
}

/*角丸ボックス
---------------------------------------------------------------------------*/

.box {
  padding: 3%;
  /*ボックス内の余白*/
  margin-bottom: 30px !important;
  /*ボックスの下に空けるスペース*/
  background: #0a06ac;
  /*背景色*/
  overflow: hidden;
  word-break: break-all;
  /*影の設定。右・下・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  /*同上*/
  border-radius: 10px;
  /*角丸のサイズ*/
  color: #fff;
  /*文字色*/
}

/*角丸ボックス内のリンクテキスト*/

.box a {
  color: #fff;
  /*文字色*/
}

/*フッター設定
---------------------------------------------------------------------------*/

footer {
  clear: both;
  text-align: center;
  padding-bottom: 10px;
}

footer .pr {
  display: block;
  font-size: 80%;
}

footer a {
  text-decoration: none;
}

/*テーブル１
---------------------------------------------------------------------------*/

.ta1 {
  width: 100%;
  margin-bottom: 30px;
}

.ta1,
.ta1 td,
.ta1 th {
  border: 1px solid #000;
  /*テーブルの枠線の幅、線種、色*/
}

/*テーブル１行目に入った見出し部分*/

.ta1 th.tamidashi {
  width: auto;
  text-align: left;
}

/*テーブル内の左側*/

.ta1 th {
  width: 140px;
  padding: 10px;
  text-align: center;
}

/*テーブル内の右側*/

.ta1 td {
  padding: 10px;
}

/*角丸ボックス内で使う場合の設定*/

.box .ta1,
.box .ta1 td,
.box .ta1 th {
  border: 1px solid #fff;
  /*テーブルの枠線の幅、線種、色*/
}

/*その他
---------------------------------------------------------------------------*/

.look {
  background: #000;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
}

.box .look {
  color: #fff;
}

.mb15,
.mb1em {
  margin-bottom: 15px;
}

.clear {
  clear: both;
}

ul.disc {
  padding: 0em 25px 1em;
  list-style: disc;
}

.color1 {
  color: #f3b700 !important;
}

.pr {
  font-size: 10px;
}

.wl {
  width: 96%;
}

.ws {
  width: 50%;
}

.c {
  text-align: center;
}

.r {
  text-align: right;
}

