#noticies_menu {
	text-align: center;
}

#inline_noticies_menu {
	display: inline-block;
}

.edit_notice_modal_button {
	margin-left: 10px;
}

#add_notice_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#add_notice_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

#add_notice_buttons {
	margin:10px;
}

.edit_notice_body_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.edit_notice_body_modal {
	border-radius: 10px;
	width: 60%;
	height: 50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:70px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.edit_notice_body_buttons {
	margin:10px;
}

.delete_notice_modal_content {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.delete_notice_modal {
	border-radius: 10px;
	width: 50%;
	height: 30%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	padding:50px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 2;
}

.delete_notice_buttons {
	margin:10px;
}