<template>
    <div v-if="thirdWorkFileError" class="error_box">{{ thirdWorkFileErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            thirdWorkFileError: false,
            thirdWorkFileErrorMessage: null,
        }
    },
    methods: {
        validateThirdWorkFile(thirdWorkFile) {
            if (thirdWorkFile) {
                if (thirdWorkFile.size > Const.maxFileSize) {
                    this.setErrorMessage(Const.fileSizeErrorMessage);
                    return false;
                }
                if (!Const.forgiveFileTypes.includes(thirdWorkFile.type)) {
                    this.setErrorMessage(Const.fileTypeErrorMessage);
                    return false;
                }
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.thirdWorkFileErrorMessage = errorMessage;
            this.thirdWorkFileError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>