<template>
    <div v-if="secondWorkFileError" class="error_box">{{ secondWorkFileErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            secondWorkFileError: false,
            secondWorkFileErrorMessage: null,
        }
    },
    methods: {
        validateSecondWorkFile(secondWorkFile) {
            if (secondWorkFile) {
                if (secondWorkFile.size > Const.maxFileSize) {
                    this.setErrorMessage(Const.fileSizeErrorMessage);
                    return false;
                }
                if (!Const.forgiveFileTypes.includes(secondWorkFile.type)) {
                    this.setErrorMessage(Const.fileTypeErrorMessage);
                    return false;
                }
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.secondWorkFileErrorMessage = errorMessage;
            this.secondWorkFileError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>