<template>
    <div v-if="workPlaceError" class="error_box">{{ workPlaceErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            workPlaceError: false,
            workPlaceErrorMessage: null,
        }
    },
    methods: {
        validateWorkPlace(workPlace) {
            if (!workPlace) {
                this.setErrorMessage(Const.placeNullErrorMessage);
                return false;
            }
            if (typeof workPlace != Const.placeType) {
                this.setErrorMessage(Const.placeTypeErrorMessage);
                return false;
            }
            if (workPlace.length > Const.placeLength) {
                this.setErrorMessage(Const.placeLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.workPlaceErrorMessage = errorMessage;
            this.workPlaceError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>