<template>
    <div v-if="firstWorkFileError" class="error_box">{{ firstWorkFileErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            firstWorkFileError: false,
            firstWorkFileErrorMessage: null,
        }
    },
    methods: {
        validateFirstWorkFile(firstWorkFile) {
            if (!firstWorkFile) {
                this.setErrorMessage(Const.fileNullErrorMessage);
                return false;
            }
            if (firstWorkFile.size > Const.maxFileSize) {
                this.setErrorMessage(Const.fileSizeErrorMessage);
                return false;
            }
            if (!Const.forgiveFileTypes.includes(firstWorkFile.type)) {
                this.setErrorMessage(Const.fileTypeErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.firstWorkFileErrorMessage = errorMessage;
            this.firstWorkFileError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>