<template>
    <div v-if="workMemoError" class="error_box">{{ workMemoErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            workMemoError: false,
            workMemoErrorMessage: null,
        }
    },
    methods: {
        validateWorkMemo(workMemo) {
            if (!workMemo) {
                this.setErrorMessage(Const.memoNullErrorMessage);
                return false;
            }
            if (typeof workMemo !== Const.memoType) {
                this.setErrorMessage(Const.memoTypeErrorMessage);
                return false;
            }
            if (workMemo.length > Const.maxMemoLength) {
                this.setErrorMessage(Const.memoLengthErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.workMemoErrorMessage = errorMessage;
            this.workMemoError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>