<template>
    <div v-if="workDateError" class="error_box">{{ workDateErrorMessage }}</div>
</template>

<script>
import Const from '../../../../const';
export default {
    data() {
        return {
            workDateError: false,
            workDateErrorMessage: null,
        }
    },
    methods: {
        validateWorkDate(workDate) {
            if (!workDate) {
                this.setErrorMessage(Const.dateNullErrorMessage);
                return false;
            }
            if (!Const.dateType.test(workDate.replace(/-/g, '/'))) {
                this.setErrorMessage(Const.dateTypeErrorMessage);
                return false;
            }
            this.resetData();
            return true;
        },
        setErrorMessage(errorMessage) {
            this.workDateErrorMessage = errorMessage;
            this.workDateError = true;
        },
        resetData() {
            Object.assign(this.$data, this.$options.data());
        },
    }
}
</script>